<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.study.nick.com.demo">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="app.study.nick.com.demo.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="app.study.nick.com.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.study.nick.com.demo.AndroidSupportDesign">
            <intent-filter>
                <action android:name="study.AndroidSupportDesign"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="app.study.nick.com.demo.AndroidElevation">
            <intent-filter>
                <action android:name="study.AndroidElevation"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="app.study.nick.com.demo.ActivityTransition">
            <intent-filter>
                <action android:name="study.ActivityTransition"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="app.study.nick.com.demo.SecondActivity"/>
    </application>

</manifest>